<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Border Link | Componenet Library</title>
    <link rel="stylesheet" href="codefile.css">
</head>
<body>
    <div class="title">
        <h1>Border Link</h1>
    </div>
    
    <div class="breadcrumbs-wrap">
        <div class="breadcrumbs">
            <a href="/">Components Library</a> > <a href="/components/links/">Links</a> > Border Link
        </div>
    </div>
    
    <div class="component-preview-wrap">
        <div class="component-preview">
            
            <a href="#" class="link">Border Link</a>
            <style>
                .link{
                    text-decoration: none;
                    color: inherit;
                    background: white;
                    border: 1px solid red;
                    padding:15px 25px;
                    transition: 0.15s ease-in-out;
                    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
                }

                .link:hover{
                    background:red;
                    color: white;
                } 
            </style>
        </div>
    </div>
    
    <div class="component-code-wrap">
        <div class="component-code">
            <div class="component-code-html-wrap">
           <h2>HTML</h2>
                <pre class="component-code-html">&lt;a href="#" class="link"&gt;Border Link&lt;/a&gt;</pre>
            </div>
            <div class="component-code-html-wrap">
           <h2>CSS</h2>
                <pre class="component-code-html">.link{
    text-decoration: none;
    color: inherit;
    background: white;
    border: 1px solid red;
    padding:15px 25px;
    transition: 0.15s ease-in-out;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.link:hover{
    background:red;
    color: white;
} </pre>
            </div>
            
            
        </div>
    </div>
    
</body>
</html>