<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Links | Componenets Library</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="title">
        <h1>Links</h1>
    </div>
    
    <div class="breadcrumbs-wrap">
        <div class="breadcrumbs">
            <a href="/">Components Library</a> > Links 
        </div>
    </div>

    <div class="links-list-wrap">
        <div class="links-list">
            
            <div class="link-container">
                <a href="#" class="link1">Simple Link</a>
            </div>
            
            <div class="link-container">
                <a href="#" class="link2">Colored Background</a>
            </div>
            
            <div class="link-container">
                <a href="#" class="link3">Hover Background</a>
            </div>
            
            <div class="link-container">
                <a href="#" class="link4">Smooth Hover</a>
            </div>
            
            <div class="link-container">
                <a href="#" class="link5">Displace on Hover</a>
            </div>
            
            <div class="link-container">
                <a href="#" class="link6">Border Link</a>
            </div>
            
            
        </div>
    </div>

</body>

</html>
