<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Link | Componenet Library</title>
    <link rel="stylesheet" href="codefile.css">
</head>
<body>
    <div class="title">
        <h1>Simple Link</h1>
    </div>
    
    <div class="breadcrumbs-wrap">
        <div class="breadcrumbs">
            <a href="/">Components Library</a> > <a href="/components/links/">Links</a> > Simple Link
        </div>
    </div>
    
    <div class="component-preview-wrap">
        <div class="component-preview">
            
            <a href="#" class="link">Simple Link</a>
            <style>
                .link{
                    text-decoration: none;
                    color: inherit;
                }

                .link:hover{
                    text-decoration: underline;
                }  
            </style>
        </div>
    </div>
    
    <div class="component-code-wrap">
        <div class="component-code">
            <div class="component-code-html-wrap">
           <h2>HTML</h2>
                <pre class="component-code-html">&lt;a href="#" class="link"&gt;Simple Link&lt;/a&gt;</pre>
            </div>
            <div class="component-code-html-wrap">
           <h2>CSS</h2>
                <pre class="component-code-html">.link{
    text-decoration: none;
    color: inherit;
}

.link:hover{
    text-decoration: underline;
}</pre>
            </div>
            
            
        </div>
    </div>
    
</body>
</html>